<html lang="fr" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Acceuil - Instagram Message Wrap</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icone.ico') }}"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <nav>
        <div class="logo">
            {% if user.profilePic %}
            <img width="50px" height="50px" src="data:image/png;base64,{{ user.profilePic | b64decode }}">
            {% else %}
            <img width="50px" height="50px" src="{{ url_for('static', filename='icone.ico') }}">
            {% endif %}
            {{ user.username }}
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a href="http://127.0.0.1:5000/"><i class="fas fa-home"></i> Accueil</a></li>
            <li><a href="profil"><i class="fas fa-user"></i> Profile</a></li>
            {% if user.status == "admin" %}
            <li><a href="adminpanel" class="active"><i class="fas fa-cogs"></i></i> Administration</a></li>
            {% endif %}
            <li><a href="logout"><i class="fas fa-sign-out-alt fa-rotate-180"></i></a></li>
        </ul>
      </nav>
      <div class="content">
         <div class="panel" id="panel-1">
            <header>Utilisateurs</header>
            <a href="adminpanel/userlist">Liste utilisateurs</a>
         </div>
         <div class="panel" id="panel-2">
            <header>Infos 2</header>
         </div>
         <div class="panel" id="panel-3">
            <header>Infos 3</header>
         </div>
      </div>
   </body>
</html>