<html lang="fr" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Acceuil - Instagram Message Wrap</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icone.ico') }}"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <style>
       #footer {
           position: absolute;
           bottom: 0;
           left: 0;
           width: 100%;
           padding: 5px 0;
           text-align: center;
       }
       @media only screen and (min-width: 920px) {
           #footer {
               position: static;
           }
       }
      </style>
      <nav>
        <div class="logo">
            {% if user.profilePic %}
            {% set profile = user.profilePic %}
            {% else %}
            {% set profile = './static/icone.ico' %}
            {% endif %}
            <img width="50px" height="50px" src="{{ profile }}">
            {{ user.username }}
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a href="http://127.0.0.1:5000/" class="active"><i class="fas fa-home"></i> Accueil</a></li>
            <li><a href="profil"><i class="fas fa-user"></i> Profile</a></li>
        </ul>
    </nav>
      <div class="content">
         yo {{ user.username }}
      </div>
   </body>
</html>