<!DOCTYPE html>
<html>
<head>
    <title>Relations - Instagram Message Wrap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='box.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icone.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <meta charset="utf-8">
</head>
<body>
    <nav>
        <div class="logo">
            {% if user.profilePic %}
            <img width="50px" height="50px" src="data:image/png;base64,{{ user.profilePic | b64decode }}">
            {% else %}
            <img width="50px" height="50px" src="{{ url_for('static', filename='icone.ico') }}">
            {% endif %}
            {{ user.username }}
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a href="http://127.0.0.1:5000/" class="active"><i class="fas fa-home"></i> Accueil</a></li>
            <li><a href="../profil"><i class="fas fa-user"></i> Profile</a></li>
            {% if user.status == "admin" %}
            <li><a href="../adminpanel"><i class="fas fa-cogs"></i></i> Administration</a></li>
            {% endif %}
            <li><a href="../logout"><i class="fas fa-sign-out-alt fa-rotate-180"></i></a></li>
        </ul>
    </nav>

    <div class="search-bar" style="display: flex; align-items: center; margin-top: 5px;">
        <input type="text" id="searchInput" placeholder="Rechercher..." oninput="searchTable()">
        <select id="filterDropdown" onchange="filterTable()" style="margin-left: 5px;">
            <option value="all">Tous</option>
            <option value="admin">Admins</option>
            <option value="user">Users</option>
        </select>
        <div id="resultCount" style="margin-left: 5px; color: white; display: none;"></div>
    </div>

    <style>
        .table-container {
            overflow-y: auto;
        }
        .hidden {
            display: none;
        }
    </style>

    <div id="original" class="box_init" style="position: fixed; bottom: 5px; top: 115px; left: 5px; right: 5px; display: block;">
        <div class="table-container">
            <table id="dataTable" style="width: 100%;">
                <thead>
                    <tr style="cursor: pointer;">
                        <th>#</th>
                        <th>Pseudo</th>
                        <th>E-mail</th>
                        <th>Genre</th>
                        <th>Status</th>
                        <th>Depuis</th>
                        <th>Dernière Connexion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in userlist %}
                    <tr class="list">
                        <td style="font-family: consolas;">{{ entry.id }}</td>
                        <td>{{ entry.username }}</td>
                        <td>{{ entry.email }}</td>
                        <td>{{ entry.gender }}</td>
                        <td>{{ entry.status }}</td>
                        <td>{{ entry.creationDate }}</td>
                        <td>{{ entry.lastConnexion }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="./static/search.js"></script>
    <script type="text/javascript" src="./static/filter.js"></script>
</body>
</html>